@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  color: #54575a;
  background: linear-gradient(180deg, #fff 0%, #f3f8f7 49%, #fff9f5 94%);
}

.wrapper {
  position: relative;
  width: 1440px;
  height: 1388px;
  margin: auto;
}

.brand-img {
  position: absolute;
  width: 193px;
  height: 47.64px;
  left: 221px;
  top: 50.25px;
}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 67px;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.app-store-btn {
  position: absolute;
  width: 138px;
  height: 46px;
  left: 221px;
  top: 531px;
}

.app-store-btn img {
  width: 138px;
  height: 46px;
}

.google-play-btn {
  position: absolute;
  width: 156px;
  height: 46px;
  left: 381px;
  top: 531px;
}

.google-play-btn img {
  width: 156px;
  height: 46px;
}

.main-image-container {
  position: absolute;
  width: 535px;
  height: 309px;
  left: 683px;
  top: 229px;
}

.main-image-container img {
  height: 411px;
}

.profile-img {
  position: absolute;
  height: 500px;
  left: 737px;
  right: 479px;
  top: 686px;
}

.product-img {
  position: absolute;
  height: 222px;
  left: 737px;
  right: 479px;
  top: 1157px;
}

.orders-img {
  position: absolute;
  height: 470px;
  left: 479px;
  right: 737px;
  top: 913px;
}

.cart-img {
  position: absolute;
  height: 222px;
  left: 221px;
  right: 995px;
  top: 1157px;
}

.home-img {
  position: absolute;
  height: 470px;
  left: 995px;
  right: 221px;
  top: 908px;
}

/* background toggles */
.background-toggles {
  position: absolute;
  right: 150px;
  top: 70px;
  display: flex;
}

.background-toggles > div {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* backgrounds */
.background-1 {
  background-color: #f0eff1;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c7c7c8' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-3 {
  background: #f7f8f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #acbb78,
    #f7f8f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #acbb78,
    #f7f8f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
